header {

	padding:0;
}

#title{
	text-align: center;
	border-spacing: 2px;
	padding: 0;
	border: 1px solid rgb(1,150,150);
	position: absolute;
	/*width: 90%;*/
	left: 10%;
}
form{
	position: relative;
}
#infoBar{
	position: fixed;
	background-color: rgb(25,175,175);
    top: 0;
    left: 0;
    width: 10%;
    padding: 0;
}
#infoBar ul{
	border:1px solid rgb(1,1,1);
	text-align: left;
	border-spacing: 0px;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
}
#infoBar ul li{
    /*display: inline;*/
    /*border-spacing: 0px;*/
    /*text-align: left;*/
    padding: 0 0 0 0;
    /*list-style-position: outside;*/
}
.my-button {
	padding: 10px 12px 11px 12px;
	border: 1px solid aqua;
	color: aqua;
	background-color: blue;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
}
.my-button:hover{
	margin: 2px 0 0 2px;
}